{% extends "base.html" %}
{% block title %}Flashcards{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var carousel = document.getElementById('flashcardCarousel');
        var currentIndexElement = document.getElementById('currentFlashcardIndex');

        carousel.addEventListener('slid.bs.carousel', function (event) {
            var activeItemIndex = Array.prototype.indexOf.call(carousel.querySelectorAll('.carousel-item'), carousel.querySelector('.carousel-item.active'));
            currentIndexElement.textContent = activeItemIndex + 1;
        });
    });
</script>
<div class="container d-flex justify-content-center">
    <div class="row w-100" style="transform: translateY(20vh);">
        <div id="flashcardCarousel" class="carousel slide w-100">
            <div class="carousel-inner">
                {% for flashcard in flashcards %}
                <div class="carousel-item{% if loop.first %} active{% endif %}">
                    {% include 'flashcard.html' with context %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="navbar container-fluid d-flex w-25">
            <button class="btn btn-lg d-flex" type="button" data-bs-target="#flashcardCarousel"
                    data-bs-slide="prev" style="border-radius: 60px">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <div class="h2 my-auto">
                <span id="currentFlashcardIndex">1</span>
                <span>/</span>
                <span id="totalFlashcards">{{flashcards|length}}</span>
            </div>
            <button class="btn btn-lg d-flex" type="button" data-bs-target="#flashcardCarousel"
                    data-bs-slide="next" style="border-radius: 60px">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}
