<div class="flashcard w-75 mx-auto mt-2 mb-2">
    <div class="flashcard-inner">
        <div class="flashcard-front">
            <div class="card h-100">
                <div class="card-body d-flex">
                    <h3 class="card-title my-auto mx-auto">{{ flashcard.question }}</h3>
                </div>
            </div>
        </div>
        <div class="flashcard-back">
            <div class="card h-100">
                <div class="card-body d-flex">
                    <h3 class="card-title my-auto mx-auto">{{ flashcard.answer }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

