<div class="col">
    <a href="{{ url_for('flashcards.carousel') }}">
        <div class="card" style="width: 18rem">
            <img class="card-img-top" src="{{ url_for('static', filename='images/book.jpg') }}" alt="Course Card Image">
            <div class="card-body">
                <h5 class="card-title">{{ card_name }}</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </a>
</div>
