<div class="col">
    <a href="{{ url_for('flashcards.carousel') }}">
        <div class="card shadow-sm">
            <img class="card-img-top" height="225" style="object-fit: cover"
                 src="{{ url_for('static', filename='images/book.jpg') }}" alt="Course Card Image">
            </svg>
            <div class="card-body">
                <p class="card-text">{{card_title}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Tag</button>
                    </div>
                    <small class="text-body-secondary">Date Goes Here</small>
                </div>
            </div>
        </div>
    </a>
</div>
