{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<section class="py-5 text-center container ">
    <div class="row py-lg-5 mt-5">
        <div class="col-lg-6 col-md-8 mx-auto mt-5">
            <h1 class="fw-light">Welcome to your dashboard!</h1>
            <p class="lead text-body-secondary">Here you can make new flashcard collections and access previously
                generated collections.</p>
            <p>
                <a href="#" class="btn btn-lg my-2">Make a new collection</a>
            </p>
        </div>
    </div>
</section>
<div class="album py-5 bg-body-tertiary flex-grow-1">
    <div class="container">
        <div class="row row-cols-3 g-3">
            {% for card_title in card_titles %}
                {% with title=card_title %}
                    {% include 'card.html' %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}
