.btn {
    background-color: #8ABAD3FF;
    border-color: #8ABAD3FF;
    color: white;
}

.btn:hover {
    background-color: #498CBAFF;
    border-color: #498CBAFF;
    color: white;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    font-weight: 700;
    line-height: 1.5;
}
