:root {
    --bluegray: #90AFC5;
    --darkgrey: #3E363F;
    --lightblue: #C4DFE6;
}

.btn:hover {
    background-color: orangered;
    border-color: orangered;
}

.btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    font-weight: 700;
    line-height: 1.5;
    background-color: black;
    border-color: black;
}

body {
    background: linear-gradient(to right, var(--bluegray), var(--bluegray), var(--bluegray));
}
