{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<body>
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>
                    <form method="post" action="{{ url_for('auth.login') }}">
                        {{ form.hidden_tag() }}
                        <div class="form-floating mb-3">
                            {{ form.username(class="form-control", id="floatingInput", placeholder="Username") }}
                            {{ form.username.label(class="form-label", for="floatingInput") }}
                            {% if form.username.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.username.errors[0] }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.password(class="form-control", id="floatingPassword", placeholder="Password") }}
                            {{ form.password.label(class="form-label", for="floatingPassword") }}
                            {% if form.password.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.password.errors[0] }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.remember(class="form-check-input", id="rememberMe") }}
                            {{ form.remember.label(class="form-check-label", for="rememberMe") }}
                        </div>
                        <button type="submit" class="btn btn-primary w-100">{{ form.submit.label.text }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}
